.custom-progress{
  background:  #e9ecef;
}
.card {
  border-radius: 1.00rem;
}
.card-body {
    padding: 0.5rem;
}
.card-text{
  margin-bottom: 0.25rem;
}
.custom-spin{
  width: 75px;
  height: 75px;
}
